body{
    background-color:#F5F5F5;
    color:#40407A;
    font-family:Arial, sans-serif;
}
header{
    background-color:#80CBC4;
    background-image:url("images/lilyheader.jpg");
    background-repeat:no-repeat;
    background-position:right;

}
footer{
    background-color:#80CBC4;
    font-weight:small, italic;
    text-align:center;
}
nav{
    text-align:center;
    font-weight:bold;
}
nav a{
    text-decoration:none;
}
h1{
    line-height:400%;
    text-indent:1em;
}
li{
    font-size:90%;
}
dd{
    font-size:90%;
}